{% load static %}
<footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">
  <!-- Grid container -->
  <div class="p-5">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
        <h1>
          <img src="{% static 'img/logo.png' %}" width="50" height="60" />
          <a
            href=""
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 text-white"
            >JobHunt</a
          >
        </h1>

        <p class="pe-5">
          Empowering careers, our job portal connects talent with opportunities.
        </p>
        <p class="pe-5">
          Elevate your professional journey with seamless job search and
          recruitment experiences
        </p>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-light btn-lg"
            ><i class="fa fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-light btn-lg"
            ><i class="fa fa-twitter"></i
          ></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-light btn-lg"
            ><i class="fa fa-google-plus"></i
          ></a>
          <!-- Linkedin -->
          <a type="button" class="btn btn-floating btn-light btn-lg"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 careers">
        <h5 class="text-uppercase mb-4 text-white">Careers</h5>

        <ul class="list-unstyled">
          <li class="list-item">
            <a
              href="#!"
              class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
              >Software development</a
            >
          </li>
          <li class="list-item">
            <a
              href="#!"
              class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
              >Support Engineer</a
            >
          </li>
          <li class="list-item">
            <a
              href="#!"
              class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
              >Human Resource Management</a
            >
          </li>
          <li class="list-item">
            <a
              class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
              href="#"
            >
              Administration</a
            >
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase mb-4 text-white">Subscribe newsletter</h5>
        <p>Subscribe newsletter to get updates about new jobs.</p>

        <div class="form-outline form-white mb-4">
          <input
            type="email"
            id="form5Example2"
            class="form-control"
            placeholder="Email Address"
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Subscribe
        </button>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 border-top border-white text-white">
    © 2024 Copyright:All rights are reserved
  </div>
  <!-- Copyright -->
</footer>
