<html lang="en">
  <!-- head -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobHunt</title>

    <!-- including google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- including bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!-- bootstrap icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="icon" type="'img/png" href="../static/img/logo.png" />

    <style>
      p {
        color: #6d6e8d;
      }
      a {
        color: #6d6e8d;
      }
      nav {
        position: absolute;
        z-index: 9;
      }
      #banner {
        background-image: url("../static/img/banner/banner.png");
        height: 59vh;
        /* background-size: cover;
        background-position: center;
        
        display: flex;
        justify-content: center;
        align-items: center; */
      }
    </style>
  </head>
  <body>
    <header>
      <!-- navbar starts -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a href="" class="navbar-brand"
            ><img
              src="../static/img/logo.png"
              width="50"
              height="60"
            />JobHunt</a
          >
          <button
            class="navbar-toggler"
            type="'button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-underline m-auto mb-2 mb-lg-0">
              <li class="'nav-item mx-3">
                <a
                  href=""
                  class="nav-link active link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  aria-current="page"
                  >Home</a
                >
              </li>
              <li class="'nav-item mx-3">
                <a
                  href=""
                  class="nav-link link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  >Browse jobs</a
                >
              </li>
              <li class="'nav-item mx-3">
                <a
                  href=""
                  class="nav-link link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  >Candidates</a
                >
              </li>
              <li class="'nav-item mx-3">
                <a
                  href=""
                  class="nav-link link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  >Blog</a
                >
              </li>
              <li class="'nav-item mx-3">
                <a
                  href=""
                  class="nav-link nav-link link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  >contact</a
                >
              </li>
            </ul>

            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
              <li class="nav-item mx-auto" id="job-post">
                <button class="btn btn-success">POST A JOB</button>
              </li>
              <li class="nav-item mx-3">
                <button class="btn btn-primary" id="login">LOG IN</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- navbar ends -->
    </header>

    <!-- banner starts -->
    <main id="banner">
      <div class="container">
        <div class="banner row">
          <div class="col-md-6">
            <h4 class="mt-5">Easiest way to find a perfect job</h4>
            <h1>Find Your Next</h1>
            <h1>Dream Job</h1>
            <button class="btn btn-success">LOOKING FOR A JOB?</button>
            <button class="btn btn-success">FIND TALENTS</button>
          </div>
          <div
            class="col-md-6 pt-5 ilstration_img wow fadeInRight d-none d-lg-block text-right"
            data-wow-duration="1s"
            data-wow-delay=".2s"
            style="
              visibility: visible;
              animation-duration: 1s;
              animation-delay: 0.2s;
              animation-name: fadeInRight;
            "
          >
            <img src="../static/img/banner/illustration.png" alt="" />
          </div>
        </div>
        <!-- <div class="about">
          <h1>1000+</h1>
          <h2>Browse from our top jobs</h2>
         <p>
            The automated process starts as soon as your clothes go into the
            machine. The outcome is gleaming clothes. Placeholder text commonly
            used.
          </p>
        </div> -->
      </div>
    </main>

    <!-- categories -->
    <main id="categories">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section_title mb-40">
              <h3>Popolar Categories</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-xl-3 col-md-6">
            <div class="single_catagory">
              <a href="jobs.html"><h4>Design &amp; Creative</h4></a>
              <p><span>50</span> Available position</p>
            </div>
          </div>
          <div class="col-lg-4 col-xl-3 col-md-6">
            <div class="single_catagory">
              <a href="jobs.html"><h4>Marketing</h4></a>
              <p><span>50</span> Available position</p>
            </div>
          </div>
          <div class="col-lg-4 col-xl-3 col-md-6">
            <div class="single_catagory">
              <a href="jobs.html"><h4>Telemarketing</h4></a>
              <p><span>50</span> Available position</p>
            </div>
          </div>
          <div class="col-lg-4 col-xl-3 col-md-6">
            <div class="single_catagory">
              <a href="jobs.html"><h4>Software &amp; Web</h4></a>
              <p><span>50</span> Available position</p>
            </div>
          </div>
          <div class="col-lg-4 col-xl-3 col-md-6">
            <div class="single_catagory">
              <a href="jobs.html"><h4>Administration</h4></a>
              <p><span>50</span> Available position</p>
            </div>
          </div>
          <div class="col-lg-4 col-xl-3 col-md-6">
            <div class="single_catagory">
              <a href="jobs.html"><h4>Teaching &amp; Education</h4></a>
              <p><span>50</span> Available position</p>
            </div>
          </div>
          <div class="col-lg-4 col-xl-3 col-md-6">
            <div class="single_catagory">
              <a href="jobs.html"><h4>Engineering</h4></a>
              <p><span>50</span> Available position</p>
            </div>
          </div>
          <div class="col-lg-4 col-xl-3 col-md-6">
            <div class="single_catagory">
              <a href="jobs.html"><h4>Garments / Textile</h4></a>
              <p><span>50</span> Available position</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->

    <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">
      <!-- Grid container -->
      <div class="p-5">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
            <h1>
              <a href="" class="navbar-brand"
                ><img
                  src="../static/img/logo.png"
                  width="50"
                  height="60"
                />JobHunt</a
              >
            </h1>

            <p class="pe-5">
              Empowering careers, our job portal connects talent with
              opportunities.
            </p>
            <p class="pe-5">
              Elevate your professional journey with seamless job search and
              recruitment experiences
            </p>

            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-light btn-lg"
                ><i class="fa fa-facebook-f"></i
              ></a>

              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-light btn-lg"
                ><i class="fa fa-twitter"></i
              ></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-light btn-lg"
                ><i class="fa fa-google-plus"></i
              ></a>
              <!-- Linkedin -->
              <a type="button" class="btn btn-floating btn-light btn-lg"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 careers">
            <h5 class="text-uppercase mb-4">Careers</h5>

            <ul class="list-unstyled">
              <li class="list-item">
                <a
                  href="#!"
                  class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  >Software development</a
                >
              </li>
              <li class="list-item">
                <a
                  href="#!"
                  class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  >Support Engineer</a
                >
              </li>
              <li class="list-item">
                <a
                  href="#!"
                  class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  >Human Resource Management</a
                >
              </li>
              <li class="list-item">
                <a
                  class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                >
                  Administration</a
                >
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4">Subscribe newsletter</h5>
            <p>Subscribe newsletter to get updates about new jobs.</p>

            <div class="form-outline form-white mb-4">
              <input
                type="email"
                id="form5Example2"
                class="form-control"
                placeholder="Email Address"
              />
            </div>

            <button type="submit" class="btn btn-primary btn-block">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3 border-top border-white">
        © 2024 Copyright:All rights are reserved
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
