<!-- Testimonials -->
<!-- Carousel wrapper -->
{% load static %}
<section class="">
  <div class="container">
    <h1 class="section-header">Testimonials</h1>
    <div class="testimonials">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="single-item">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile">
                    <div class="img-area">
                      <img
                        src="{% static 'img/testimonial/person_4.jpg' %}"
                        alt=""
                      />
                    </div>
                    <div class="bio">
                      <h2>Dave Wood</h2>
                      <h4>Web Developer</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="content">
                    <p>
                      <span><i class="fa fa-quote-left"></i></span>I appreciate
                      how JobHunt simplified my job search. Within days of
                      signing up, I received multiple interview offers. The
                      platform's professionalism and effectiveness exceeded my
                      expectations.
                    </p>
                    <p class="socials">
                      <i class="fa fa-twitter"></i>
                      <i class="fa fa-linkedin"></i>
                      <i class="fa fa-instagram"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="single-item">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile">
                    <div class="img-area">
                      <img
                        src="{% static 'img/testimonial/person_5.jpg' %}"
                        alt=""
                      />
                    </div>
                    <div class="bio">
                      <h2>Martin Guptill</h2>
                      <h4>UI/UX Designer</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="content">
                    <p>
                      <span><i class="fa fa-quote-left"></i></span>I found my
                      dream job quickly and efficiently through JobHunt. The
                      platform's intuitive interface and extensive job listings
                      made the entire process seamless. Highly recommended.
                    </p>
                    <p class="socials">
                      <i class="fa fa-twitter"></i>
                      <i class="fa fa-linkedin"></i>
                      <i class="fa fa-instagram"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="single-item">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile">
                    <div class="img-area">
                      <img
                        src="{% static 'img/testimonial/person_6.jpg' %}"
                        alt=""
                      />
                    </div>
                    <div class="bio">
                      <h2>Jenni Jones</h2>
                      <h4>Graphic Designer</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="content">
                    <p>
                      <span><i class="fa fa-quote-left"></i></span>I'm impressed
                      by the efficiency of JobHunt. Within a week of using the
                      platform, I secured a job offer. I highly recommend
                      JobHunt to anyone looking for a hassle-free job search
                      experience.
                    </p>
                    <p class="socials">
                      <i class="fa fa-twitter"></i>
                      <i class="fa fa-linkedin"></i>
                      <i class="fa fa-instagram"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Carousel wrapper -->
