.nav-link,
.navbar-brand {
  color: white;
}

footer a,
p {
  color: rgb(110, 138, 170);
}

nav {
  background-color: rgba(51, 74, 96, 0.741);
}
#banner {
  height: 95vh;
  /* background-size: cover;
  background-position: center;
  
  display: flex;
  justify-content: center;
  align-items: center; */
}
section {
  display: grid;
  place-items: center;
}
@media (max-width: 768px) {
}
section {
  height: 80vh;
}
@media (max-width: 576px) {
  section {
    height: 100vh;
  }
}

.banner .col-md-5 {
  padding-left: 5%;
}
.section-header {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 25px;
}
.section-header:after {
  content: "";
  height: 3px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  background: #fff;
}
.section-header span {
  display: block;
  font-size: 15px;
  font-weight: 300;
}
.testimonials {
  max-width: 1000px;
  padding: 0 15px 50px;
  margin: 0 auto 80px auto;
}
.single-item {
  background: #fff;
  color: #111;
  padding: 15px;
  margin: 50px 15px;
}
.profile {
  margin-bottom: 30px;
  text-align: center;
}
.img-area {
  margin: 0 15px 15px 15px;
}
.img-area img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* border: 7px solid blueviolet; */
}
.content {
  font-size: 18px;
}
.content p {
  text-align: justify;
}
.content p span {
  font-size: 48px;
  margin-right: 20px;
  color: blueviolet;
}
.socials i {
  margin-right: 25px;
}
.bio h4 {
  font-family: "Berkshire Swash", cursive;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #111;
}

footer {
  background-color: rgb(1, 29, 57);
}

.navbar .nav-link {
  font-size: 18px;
}
.navbar-toggler {
  outline: none !important;
  padding: none !important;
}
nav .navbar-brand span {
  color: var(--DarkColor);
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
}

.categories {
  background-color: rgb(245, 247, 250);
}
